.container {
  height: 90px;
}

//menu
.menuList {
  & li {
    &::after {
      content: "|";
    }
  }
  & li:last-child {
    &::after {
      content: "";
    }
  }
}

//ハンバーガーボタン
.burgerBtn {
  // display: block;
  position: fixed;
  right: 0;
  top: 0;
  & span {
    width: 50px;
    height: 2px;
    background: #555;
    background-color: black;
    position: absolute;
    transition: all 0.2s;
    &:nth-child(1) {
      top: 30%;
    }
    &:nth-child(2) {
      bottom: 30%;
    }
    &.isAction {
      &:nth-child(1) {
        top: 30%;
        transform: translateY(8px) rotate(45deg);
      }
      &:nth-child(2) {
        top: 60%;
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.burgerBtnInner {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerBtnBody {
  position: relative;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
