.productLeft {
  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.productTitleH2 {
  border-bottom: 1px #000 solid;
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .productLeft {
    flex: 4;
  }

  .productCenter {
    flex: 1;
  }

  .productRight {
    flex: 8;
  }

  .productBr {
    display: none;
  }
}
