.pageTitleH1 {
  margin-top: 55px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
.pageTitleH2 {
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px #000 solid;
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .pageTitleH1 {
    margin-bottom: 55px;
  }
}
