.companyItem {
  display: flex;
  padding: 32px 0;
  border-bottom: 1px #eee solid;
}
.companyLeft {
  flex: 4;
  text-align: left;
  font-weight: 900;
}
.companyRight {
  flex: 8;
  text-align: left;
}
@media screen and (min-width: 900px) {
  .companyLeft {
    flex: 3;
  }
  .companyRight {
    flex: 9;
  }
  .companyBr {
    display: none;
  }
}
