.productLeft {
  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

@media screen and (min-width: 900px) {
  .productLeft {
    flex: 4;
  }

  .productCenter {
    flex: 1;
  }

  .productRight {
    flex: 8;
  }

  .productBr {
    display: none;
  }
}
